<div class="container">
  <p-toast></p-toast>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 30px;
    "
  >
    <form style="display: flex; align-items: center">
      <input
        [(ngModel)]="idApplicationError"
        name="idApplicationError"
        type="text"
        pInputText
        style="margin-right: 10px"
        inputmode="numeric"
        pattern="[0-9]*"
      />
      <button
        (click)="getApplicationError(idApplicationError)"
        pButton
        type="button"
        label="Buscar"
        class="custom-button"
      ></button>
    </form>
  </div>

  <div *ngIf="!showInformation; else cardList">
    <p-card
      [style]="{
        width: '960px',
        height: '300px',
        'margin-top': '40px',
        'margin-bottom': '20px',
        margin: 'auto'
      }"
      styleClass="p-card-shadow"
    >
      <div>
        Seleccione el identificador del error para ver la informacion
        relacionada
      </div>
      <div style="padding: 30px"></div>
      <img
        src="assets/lupa.png"
        width="10%"
        height="10%"
        style="display: block; margin: auto"
      />
    </p-card>
  </div>

  <ng-template #cardList>
    <p-card
      [style]="{
        width: '960px',
        'margin-top': '40px',
        'margin-bottom': '20px',
        margin: 'auto'
      }"
      styleClass="p-card-shadow"
    >
      <div style="padding: 30px; overflow-wrap: break-word">
        <h1 class="title" style="text-align: center">
          ID del Error: {{ applicationError.idAplicacionError }}
        </h1>

        <h2 class="title">Descripción</h2>
        <p>{{ applicationError.descripcionError }}</p>

        <h2 class="title">Error detectado</h2>
        <p>{{ applicationError.tituloError }}</p>
        <h2 class="title">Hora que ocurrió el error:</h2>
        <p>{{ applicationError.horaError }}</p>

        <h2 class="title">Navegador</h2>
        <p>{{ applicationError.navegadorUsuario }}</p>

        <h2 class="title">IP Usuario</h2>
        <p>{{ applicationError.ipUsuario }}</p>

        <h2 class="title">Trazabilidad Código FrontEnd</h2>
        <div [innerHTML]="trazaFrontend"></div>

        <div *ngIf="errorBackAndFront">
          <h2 class="title">Trazabilidad Código Backend</h2>
          <div [innerHTML]="trazaBackend"></div>
        </div>
        <h2 class="title">Eventos del usuario</h2>

        <div style="display: flex; justify-content: center">
          <div class="card">
            <p-table
              [value]="actionsUser"
              [paginator]="true"
              [rows]="5"
              [showCurrentPageReport]="true"
              [tableStyle]="{ 'min-width': '50rem' }"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[5, 10, 15]"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="text-align: center; width: 15%"></th>
                  <th style="text-align: center; width: 15%">Acción</th>
                  <th style="text-align: center; width: 45%">Descripción</th>
                  <th style="text-align: center; width: 15%">Nivel</th>
                  <th style="text-align: center; width: 15%">Hora</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-action>
                <tr>
                  <td style="text-align: center">
                    <img
                      *ngIf="action.nombreAccion === 'Boton'"
                      src="./assets/boton.png"
                      width="20%"
                      height="20%"
                    />
                    <img
                      *ngIf="action.nombreAccion === 'Input'"
                      src="./assets/input.png"
                      width="20%"
                      height="20%"
                    />
                    <img
                      *ngIf="action.nombreAccion === 'Request'"
                      src="./assets/http.png"
                      width="20%"
                      height="20%"
                    />
                    <img
                      *ngIf="action.nombreAccion === 'Navegacion'"
                      src="./assets/url.png"
                      width="20%"
                      height="20%"
                    />
                    <img
                      *ngIf="action.nombreAccion === 'Excepcion'"
                      src="./assets/error.png"
                      width="20%"
                      height="20%"
                    />
                  </td>
                  <td style="text-align: center">{{ action.nombreAccion }}</td>
                  <td style="text-align: center">{{ action.accionUsuario }}</td>
                  <td style="text-align: center">{{ action.nombreNivel }}</td>
                  <td style="text-align: center">
                    {{ action.fechaHoraAccion }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <p-button
                  type="button"
                  icon="pi pi-plus"
                  styleClass="p-button-text"
                ></p-button>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <p-button
                  type="button"
                  icon="pi pi-cloud"
                  styleClass="p-button-text"
                ></p-button>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </p-card>
  </ng-template>
</div>
